In [3]:
# Q1. Create one variable containing following type of data:

# (i)	string

# (ii)	list

# (iii)	float

# (iv)	tuple

In [7]:
# Answer Q1 :

varString = 'Very Good'
varList = [3,7,7,3,'How', 4.33, 89,True,42,'Me']
varFloat = 5.754
varTuple = (4,7,2,'Hii')  # A list which is immutable is called Tuple

In [ ]:
# Q2. Given are some following variables containing data:
# (i)	var1 = ' '
# (ii)	var2 = '[ DS , ML , Python]'
# (iii)	var3 = [ 'DS' , 'ML' , 'Python' ]
# (iv)	var4 = 1.

# What will be the data type of the above given variable

# Answers Q2 :

# (i) - String,    (ii) - String,  (iii) - List,  (iv) - Float

In [8]:
# Q3. Explain the use of the following operators using an example:

# (i)	/

# (ii)	% 

# (iii)	//

# (iv)	**

hii
Bye

In [9]:
# Answer Q3 (i) / :
# (/) is used to find the quotient on dividing a number by other. For example let us take two number a and b such that
a = 15
b = 5

# Now let us use the operator (/) between a and b, i.e between 15 and 5

a/b

# on running this code, we will get answer as 3.0, which will be the quotient when we divide 15 by 5
# Division in python always gives a float number

3.0

In [10]:
# Answer Q3 (ii) % :
# (%) is used to find the remainder on diving a number by other. For example let us take two number a and b such that
a = 12
b = 5

# Now let's use (%) between a and b, i.e between 12 and 5

a%b

# Answer that we will get will be 2, which will be the remainder that we will get on dividing 12 by 5

2

In [11]:
# Answer Q3 (iii) // :
# (//) is used to find the "interger value only" on dividing a number by other
# Suppose two numbers a and b. Such that 
a = 7
b = 3

# let us first divide a by b using (/)

a/b

# Answer on dividing 7 by 3 will be 2.3333333.. Now let us use this operator (//) on same value

a//b

# Answer in this case will be two, because the operator (//) provide us only integer value by excluding the float values

2

In [13]:
# Answer Q3 (iv) ** : 
# (**) is used to find the value of a number raise to the power other. Let us take two number a and b such that
a = 4
b = 3

# Now let us use the operator (**) between a and b, i.e between 4 and 3

4**3

# Answer that we will get will be 64 because if 3 raise to the power 4 the answer wil be 64. 
# In simple terms, if  b = 3, a will be multiplied by itself 3 times, i.e (a*a*a), if b is 4 then a will be multiplied by itself 4 times, i.e (a*a*a*a)

64

In [15]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

# Answer Q4 :

list = [1,"My",58,True,3.75, 4 + 8j, "Ans",6.2, False,43]

for a in list :
    print(a)  
    print(type(a))
else:
    print('All the elements of the list with respect to their data types are printed')

1
<class 'int'>
My
<class 'str'>
58
<class 'int'>
True
<class 'bool'>
3.75
<class 'float'>
(4+8j)
<class 'complex'>
Ans
<class 'str'>
6.2
<class 'float'>
False
<class 'bool'>
43
<class 'int'>
All the values with respect to their data types are printed

In [17]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

# Answers Q5 :

# Taking a and b as input by user
a = int(input())
b = int(input())

k = a     # Assigning value of a to k.

if k%b==0 :
 count = 0  # A variable to count the number of divisible happened
 while k%b==0 :
  k = k/b
  count+=1
 else :
  print(str(a) + " is divisible by " + str(b) + " And it can be divisible " + str(count) + " times")
else :
 print('Sorry, but ' + str(a) + 'is not divisible by ' + str(b))

 100
 2

100 is divisible by 2 And it can be divisible 2 times

In [23]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

# Answers Q6 : 

list2 = [12,14,16,19,32,26,27,29,24,45,78,89,23,71,13,68,43,8,49,34,23,85,48,96,86]
print(list2.count)

for i in list2 :
    if i%3==0 :
        print(str(i) +  " : Yes")
    else :
        print(str(i) + " : No")
else :
    print('All the above number if shows Yes then it is divisible by 3, if shows No then it is not divisible by 3')

<built-in method count of list object at 0x7f7741c517c0>
12 : Yes
14 : No
16 : No
19 : No
32 : No
26 : No
27 : Yes
29 : No
24 : Yes
45 : Yes
78 : Yes
89 : No
23 : No
71 : No
13 : No
68 : No
43 : No
8 : No
49 : No
34 : No
23 : No
85 : No
48 : Yes
96 : Yes
86 : No
All the above number if shows Yes then it is divisible by 3, if shows No then it is not divisible by 3

In [25]:
# Q7 What do you understand about mutable and immutable data types? Give examples for both showing this property

# Answer Q7 :

# Mutable Data Types 
# Data types in which we can modify, delete and add elements are Mutable Data types. These includes lists and some other data types.
# Let us take an example of List and understand how it is Mutalbe

list = [3,5.67,6, "How", 6, True, 8.43, "When"]
print(list)
# Now let us perform some actions on this list

list[0] = "Nice"
list.remove(True)
list.append(False)

print(list)

# On printing the list, we will get "Nice" instead of 3 because we changed the value of index 0, True is removed from the list because we remove it and False is added to the end of the list because we appended it. All values are modified, delete and added with respect to the functions we perform.
# This clearly shows that in Mutable data types elements can be modified, removed and be added.

# Immutable data types
# Data types in which we can't modify, delete and add new elements are called immutable data types. These includes Integer, String, FLoats, etc
# Let us take an example of String and Integer to understand what is Immutable Data Types
a = "Hii"
b = 4

# We can't modify, delete and add new elements in a and b, because they are immutable. If we do so we will get an error and we also don't have any functions to perform such type of things.
# But we can always assign a new value to immutable data types. For Example

a = "Pretty"
b = 6.444

# Note : Assigning a new value to already assigned variable doesn't means that we change the previous value of variable. 
# When we assign new value to a already assigned variable a different value is created with different reference and the variable just points to the reference of newly assigned value. The older value is not changed

['Nice', 5.67, 6, 'How', 6, 8.43, 'When', False]